@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.section-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 100px;
}
.section-container-sec{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 100px;

}

/* header section code */
header{
    max-width: 1440px;
    /* height: 670px; */
    margin: 0 auto;
    padding: 200px 300px;
    background-image: url(../images/donation1.jpg);
    background-position: center;
    background-size: cover;
}
.header-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-title{
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0px;
    text-align: center;

}
.header-text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin: 20px 0;
}
.btn{
    border-radius: 5px;
    padding: 16px 12px;
    background: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    border: none;
}

/* donate section code */
.title{
    color: rgb(18, 18, 18);
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: center;
}
.text{
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.container-tk{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.tk{
    max-width: 135px;
    max-height: 123px;
    border-radius: 5px;
    background: rgb(250, 250, 250);
    padding: 30px;
    color: rgb(112, 112, 112);
    font-size: 30px;
    text-align: center;
}
#tk{
    max-width: 135px;
    max-height: 123px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    color: rgb(255, 89, 89);
    background: rgb(255, 238, 238);
    padding: 30px;
    color: rgb(112, 112, 112);
    font-size: 30px;
    text-align: center;
}
.donte{
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column
}
.end{
    color: rgb(179, 179, 179);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}
.hr{
    border: 1px solid rgb(218, 218, 218);
}

/* card section code */
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card-icon{
    border-radius: 5px;
    padding: 40px;
    background: rgba(79, 157, 166, 0.1);

}
.card-icon-b{
    border-radius: 5px;
    padding: 40px;
    background: rgba(255, 89, 89, 0.1);

}
.card-icon-c{
    border-radius: 5px;
    padding: 40px;
    background: rgb(255, 244, 214);
}
.card-title{
    color: rgb(18, 18, 18);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
    margin: 10px 0;
}
.card-text{
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 16px 0;
}

/* About us section code */
.conteiner-up{
    background: rgb(255, 244, 214);
    padding: 60px;
    display: flex;
    align-items: center;
}
.inpu-tedt, input{
    padding: 16px 30px;
    border: navajowhite;
}

/* footer section code */
footer{
    background-color: black;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-content{
    padding: 40px;

}
.footer-title{
    color: tomato;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.footer-text{
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}

/*  images section code */
.skill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 24px;
}
.img-container img{
    width: 100%;
    height: auto;
}
.img-title{
    color: rgb(18, 18, 18);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
    margin: 10px 0;
}
.img-text{
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 16px 0;
}